# See http://help.github.com/ignore-files/ for more about ignoring files.

# css
frontend/src/styles/main.css

# dependencies
node_modules

# testing
coverage
.nyc_output

# production
build

# misc
.DS_Store
.env
npm-debug.log
.instances
.services
.clusters
.cluster
.tasks
