// Body resets
//
// Update the foundational and global aspects of the page.

*{
    font-family: 'Roboto-Light','Open Sans', Geneva, Verdana, sans-serif !important;
    font-weight: lighter;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0,0,0,.8);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,.03);
}
html {
    width: 100%;
    height: 100%;
}

*::selection {
    background: gray;
    color: #ffffff;
}

a {
    text-decoration: underline;
    color: rgba(0,0,0,.8);
}

.page-style{
    position: relative;
    height: 100%;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    margin: 0 auto;
    color: #3a3a3a;
    padding-bottom: 50px;
}

.posts{
    position: relative;
    height: 100%;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    margin: 0 auto;
    color: #3a3a3a;
    padding-bottom: 50px;
}

.hr-small {
    width: 100px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.hr-big {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.2);
}

p{
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
    color: rgba(0,0,0,.8);
    margin: 0 0 12px;
}

.center{
    text-align: center;
}

.btn{
    font-weight: normal;
}

.lang p a{
    color: rgba(255,255,255,.2);
    text-decoration: none;
    padding-left: 3px;
}
