// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.post-title{
    margin: 0 0 8px;
    line-height: 1.3;
    font-size: 24px;
    letter-spacing: -.02em;
    font-style: normal;
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.page,
.post,
.related {
    margin-bottom: 2em;
    position: relative;
    height: 100%;
    padding-top: 30px !important;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    margin: 0 auto;
    color: #3a3a3a;

    li + li {
        margin-top: .25rem;
    }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
    color: #303030;
    text-decoration: none;
    font-weight: bold;
}
.page-title,
.post-title {
    margin-top: 0;
}

// Meta data line below post title
.post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}

.related-posts {
    text-align: left;
    padding-left: 0;
    list-style: none;

    h3 {
        margin-top: 0;
    }

    li {
        small {
            font-size: 75%;
            color: #999;
        }

        a:hover {
            color: gray;
            text-decoration: none;

            small {
                color: inherit;
            }
        }
    }
}
