@import 'reset';
@import 'partials/index'; 
@import 'fonts/index';
@import 'partials/index';
@import 'components/index';

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: $t_font-family_default;
	font-weight: $t_font-weight_normal;
	font-size: $t_font-size_small;
	color: $c_gray_light;
	margin: 0;

	//background-color: $c_gray_dark;

	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-font-smoothing: antialiased;

	@include breakpoint(mobile) {
		font-size: $t_font-size_smaller;
	}
}

#root, #content {
	height: 100%;
}

h1 {
	font-size: $t_font-size_xlarge;
	margin: 0;
}

h2 {
	font-size: $t_font-size_large;
	margin: 0;
}

h3 {
	font-size: $t_font-size_medium;
	margin: 0;
}

a {
	text-decoration: none;
	color: $c_white; 
}

a:hover {
	color: $c_white; 
}

p {
	margin: 0;
	line-height: 1.6;
}
