/**
 *	FONTS
 *	-----------------
 */

// Avenir

@font-face {
	font-family: 'Avenir';
	font-weight: 900;
	src: url('fonts/avenir/Avenir-Black.ttf');
}

@font-face {
	font-family: 'Avenir';
	font-weight: 700;
	src: url('fonts/avenir/Avenir-Heavy.ttf');
}

@font-face {
	font-family: 'Avenir';
	font-weight: 500;
	src: url('fonts/avenir/Avenir-Medium.ttf');
}

@font-face {
	font-family: 'Avenir';
	font-weight: 300;
	src: url('fonts/avenir/Avenir-Light.ttf');
}
