@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1024px) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 1024px) { @content ; }
  }
  @else if $point == phablet {
    @media (max-width: 850px) { @content ; }
  }
  @else if $point == mobile {
    @media (max-width: 540px)  { @content ; }
  }
}

@mixin clearfix(){
  &:before,
  &:after{
    content: " ";
    display: table;
  }

  &:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }

  & {
    *zoom: 1;
  }
}
