*{
    font-family: 'Roboto-Light','Open Sans', Geneva, Verdana, sans-serif !important;
    font-weight: lighter;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0,0,0,.8);
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,.03);
}
html {
    width: 100%;
    height: 100%;
}

*::selection {
    background: gray;
    color: #ffffff;
}

a{
    text-decoration: underline;
}

.page-style{
    position: relative;
    height: 100%;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    margin: 0 auto;
    color: #3a3a3a;
    padding-bottom: 50px;
}

.hr-small {
    width: 100px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.hr-big {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.2);
}

p{
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
    color: rgba(0,0,0,.8);
    margin: 0 0 12px;
}

p a{
    text-decoration: none;
}

p a:hover{
    text-decoration: none;
    color:gray;
}

.center{
    text-align: center;
}

.post-title{
    margin: 0 0 8px;
    line-height: 1.3;
    font-size: 24px;
    letter-spacing: -.02em;
    font-style: normal;
        display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.post-subtitle{
    text-align: left;
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
    color: rgba(0,0,0,.8);
    margin: 0 0 12px;
}

.btn{
    font-weight: normal;
}

.lang p a{
    color: rgba(255,255,255,.2);
    text-decoration: none;
    padding-left: 3px;
}