.ColorPicker button {
	color: #FFF;
	width: 100%;
}

.ColorPicker button:hover {
	color: #000;
}

.ColorPicker .popover {
	position: absolute;
	z-index: 2;
}

.ColorPicker .cover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}