.CreateBattleForm {
	color: #000;
	background-color: #FFF;
	border: 1px solid lightgray;
	padding: 2rem 3rem;
	margin-bottom: 2rem;
	border-radius: 5px;
}

.CreateBattleForm form {
	margin-bottom: 0;
}

.CreateBattleForm input[disabled] {	
	cursor: not-allowed;
}