body{
	padding-top:100px;
	background-color: white;
    margin-left:auto;
    margin-right:auto;
}

header{
	/* background-color: #31b16c; */
	background-color: #3a3a3a;
	height: 100px;
	border-bottom: 1px rgba(255,255,255,0.1) solid;
	min-height:100px;
}

.container-fluid{
	padding: 0px;
}

.navigation a{
	margin-right: 60px;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 15pt;
	font-weight: thin;
}

.navigation{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	right: 30px;
	top: 37px;
	height: auto;
}

.nav-logo{
	padding-top: 5px;
	margin-left: 30px;
	padding-right:5px;
}

.background-overlay {
    background: url(../img/intro-img.png) center no-repeat;
    background-size: cover;
    min-height: 450px;
}

.info-fill{
	background-color:#3a3a3a;
}

.info-section{
	background-color: #3a3a3a;
	height: auto;
	width: 100%;
	background: url(../img/info-back.png) center no-repeat;
    background-size: cover;
}

.info-content{
	width: 90%;
	margin: 0 auto;
}

h1,h2,p{
	color: white;
}

a:hover{
	text-decoration: none;
	color: lightgray;
}

p{
	font-family: 'Roboto', 'OpenSans', 'Arial', sans-serif;
	font-size: 15px;
}

p a{
	text-decoration: none;
	color: white;
}

h1{
	font-family: 'Roboto', 'OpenSans', 'Arial', sans-serif;
	font-size: 23px;
}

h2{
	font-family: 'Roboto', 'OpenSans', 'Arial', sans-serif;
	font-size: 20px;
}

i{
	color: white;
	padding: 50px 0 10px;
	font-size:55px;
}

.col-xs-4{
	padding-bottom: 50px;
}

.sponsors{
	width: 90%;
	margin: 0 auto;
}

.sponsors h1, .sponsors h2, .sponsors p{
	color: #3a3a3a;
}

.sponsors h1{
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
}

.sponsors h2{
	font-family: 'Roboto', sans-serif;
}

.sponsors img{
	width: 200px;
	height: 200px;
	background-color: #3a3a3a;
	margin-top: 10px;
}

.sponsors-text p{
	margin-top: 20px;
}

.prev-news{
	margin-top: 20px;
	padding-bottom: 20px;	
	margin-right: 20px;
	text-align: right;
}

.prev-news h1{
	opacity: 0.2;
	font-size: 18px;
}

.tickets-form{
	padding-top: 30px;
	width:50%;
	margin: 0 auto;
	color: #3a3a3a;
	padding-bottom: 50px;
}

.tickets-form h1, .tickets-form span, .tickets-form p{
	color: #3a3a3a;
}

.tickets-form input{
	outline: none !important;
}
.compos input{
	margin-left: 5px;
}
.tickets-form p{
	display:inline;
}

@media(max-width: 1100px){
	.nav-logo{
		padding-top: 0;
		margin-left: 0;
		padding-right: 0;
		text-align: center;
		padding-top: 10px;
		left: 50%;
	}
	.navigation{
		text-align: center;
		position: static;
		right: auto;
		height: auto;
	}
	.nav-logo img{
		max-width: 70px;
	}
}
@media(max-width: 950px) {
	.navigation{
		padding-top:5px;
	}
	.navigation a{
		font-size:15pt;
		margin-right: 5px;
		margin-left:10px;
	}
	h1{
		font-size: 15px;
	}
}
@media(max-width: 650px) {
	.nav-logo img{
		max-width: 50px;
		left: 50%;
	}
	.navigation{
		margin-top:5px;
	}
	.navigation a{
		font-size:10pt;
		margin-right: 2px;
		margin-left:10px;
	}
	.sponsors img{
		width: 50px;
		height: 50px;
	}
	.sponsors-text p{
		display: none;
	}
	.sponsors h2{
		font-size: 15px;
	}
	.info-section h1{
		font-size: 13px;
	}
}
