<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<header class="header">
    <div class="header-text">
        <div class="navigation">
            <a href="http://nielssegers.com">home</a>
            <a href="http://nielssegers.com/work">work</a>
            <a href="https://linkedin.com/in/nielssegers">about</a>
        </div>
        <h1>niels segers</h1>
        <hr class="hr-small">
        <span class="subheading">automator of things</span>
    </div>
</header>

<body>
    <div class="container content">
        <main>
            {{ content }}
        </main>
    </div>
</body>
</html>
