/**
 *  NOMATCH
 *  -----------------
 */

.noMatch {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	.noMatch__title {
		margin-bottom: 25px;
	}
}