.battleOptions {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;

  &:after {
    overflow: hidden;
    display: block;
    position: absolute;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $c_gray_darker;
    transition: rotate(180deg);
    top: -4px;
    right: 42px;
  }

  .battleOptions__list {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 200px;
    background: $c_gray_darker;
    border-radius: $d_border-radius_default;
    box-shadow: 0 3px 4px 0 rgba($c_black, .5),
                inset 0 -1px 0 0 rgba($c_black, .7),
                inset 0 1px 0 0 rgba($c_white, .2);

    .battleOptions__item {
      border-bottom: 1px solid $c_gray_normal;
      line-height: 40px;
      padding: 0 10px;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
