/**
 *  CHATLIST
 *  -----------------
 */

.chatList {
  position: absolute;
  bottom: 80px;
  left: 20px;
  z-index: 3;

  @include breakpoint(phablet) {
    left: 0;
    bottom: 40px;
  }

  @media (max-width: 800px) and (orientation: landscape) {
    display: none;
  }
}
