.companyInfo {
  display: block;
  float: left;
  width: 100px;
  height: 50px;

  .companyInfo__image {
    width: 100px;
    height: 50px;
    background: url("../../assets/companylogo.png") no-repeat;
    background-size: contain;
  }
}
