/**
 *  footer
 *  -----------------
 */

.footer {
	width: 100vw;
	height: 120px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(0deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.00) 100%);

	@include breakpoint(tablet) {
		z-index: 2;
	}
	@include breakpoint(phablet) {
		height: 40px;
	}

	@media (max-width: 800px) and (orientation: landscape) {
		display: none;
	}

	.footer__chat {
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: 100%;
		max-width: 750px;

		@include breakpoint(phablet) {
			bottom: 0;
			left: 0;
			z-index: 2;
		}

		.footer__session {
			display: inline-block;

			@include breakpoint(phablet) {
				display: none;
			}
		}
	}

	.footer__currentEmoji {
		position: absolute;
		bottom: 10px;
		right: 20px;
		width: 60px;
		height: 60px;
		background-color: rgba(43,43,43,0.3);
		border-radius: $d_border-radius_circle;
		box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2);
		padding: 10px;
		cursor: pointer;

		@include breakpoint(tablet) {
			display: none; //temp
		}
	}

	.footer__emojis {
		position: absolute;
		bottom: 95px;
		right: 20px;
		width: 180px;
		height: 250px;

		&:after {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			right: 30px;
			bottom: -6px;
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-right: 4px solid rgba($c_gray_dark ,0.7);
			transform: rotate(270deg);
			box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.70);
		}

		&.footer__emojis--visible {
			display: block;
		}

		&.footer__emojis--invisible {
			display: none;
		}
	}
}
