.battleHeader__desktop {
  .matchInfo {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0);

    .matchInfo__club {
      display: inline-block;
      background: $c_gray_darker;
      width: 130px;
      height: 40px;
      border-radius: 3px;
      box-shadow: 0 3px 6px 0 rgba(0,0,0,0.30), inset 0 -1px 0 0 rgba(0,0,0,0.70), inset 0 1px 0 0 rgba(255,255,255,0.20);
      color: $c_gray_lighter;
      overflow: hidden;

      &.matchInfo__club--team1 {
        margin-right: 5px;
      }

      &.matchInfo__club--team2 {
        margin-left: 5px;

        .matchInfo__clubScore:after {
          transform: rotate(180deg);
          right: -4px;
          left: auto;
        }
      }

      .matchInfo__clubName,
      .matchInfo__clubScore,
      .matchInfo__clubColor {
        float: left;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-shadow: 0 3px 4px rgba(0,0,0,0.50);
        font-weight: $t_font-weight_bold;
        font-size: $t_font-size_medium;
      }

      .matchInfo__clubName {
        width: 85px;
        display: inline-block;
        overflow: hidden;
        text-transform: uppercase;
      }

      .matchInfo__clubScore {
        width: 40px;
        display: inline-block;
        background: #404040;
        position: relative;
        box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.50), inset 0 1px 0 0 rgba(255,255,255,0.20);

        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          left: -4px;
          top: 16px;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-right: 4px solid #404040;
        }
      }

      .matchInfo__clubColor {
        width: 5px;
        display: inline-block;
        box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.30), inset 0 1px 0 0 rgba(255,255,255,0.20);
      }
    }
  }
}

.battleHeader__mobile {
  position: relative;
  width: 100vw;
  height: 60px;
  background: #2B2B2B;
  padding: 0 15px;

  @include clearfix();

  .matchInfo {
    position: relative;
    width: 210px;
    margin: 0 auto;
    top: 17px;

    @include clearfix();

    .matchInfo__club {
      position: relative;
      display: block;
      float: left;
      width: 60px;
      text-align: left;

      &.matchInfo__club--team1 {
        text-align: right;
      }

      .matchInfo__clubName {
        font-size: 14px;
        line-height: 26px;
        font-weight: bold;
        color: #F6F6F6;
        text-shadow: 0 3px 4px rgba(0,0,0,0.50);
      }
    }

    .matchInfo__score {
      position: relative;
      display: block;
      float: left;
      background: #F6F6F6;
      box-shadow:
              0 2px 3px 0 rgba(0,0,0,0.50),
              inset 0 -1px 0 0 rgba(0,0,0,0.20),
              inset 0 1px 0 0 #FFFFFF;
      border-radius: 2px;
      height: 26px;
      line-height: 26px;
      overflow: hidden;
      margin: 0 15px;

      .matchInfo__clubColor {
        display: block;
        float: left;
        width: 3px;
        height: 26px;

        &.matchInfo__clubColor--team1 {

        }

        &.matchInfo__clubColor--team2 {
          float: right;
        }
      }

      .matchInfo__clubScore {
        display: block;
        float: left;
        font-size: 14px;
        font-weight: bold;
        color: #2B2B2B;
        text-shadow: 0 3px 4px rgba(0,0,0,0.20);
        padding: 0 8px;
      }

      .matchInfo__scoreSeperator {
        display: block;
        float: left;
      }
    }
  }
}