.ShareModal {
  color: $c_gray_lighter;
	background-color: $c_gray_dark;
	text-align: center;
	border-radius: $d_border-radius_default;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 500px;
	padding: 30px 15px 20px;

	outline: none;

	box-shadow: 0 3px 10px 0 rgba($c_black, .3),
							inset 0 -1px 0 0 rgba($c_black, .2),
							inset 0 1px 0 0 rgba($c_white, .3);

  .shareModal__title {
		margin-bottom: 15px;
		font-size: $t_font-size_medium;
		font-weight: $t_font-weight_bold;
	}

	.shareModal__description {
		margin-bottom: 30px;
    font-size: $t_font-size_smaller;
	}

  .shareModal__link {
    width: 350px;
    height: 40px;
    margin: 0 auto;
    padding: 0 40px 0 20px;
    background: rgba($c_gray_lighter, .1);
    border-radius: $d_border-radius_default;
    position: relative;
    overflow: hidden;

    .shareModal__input {
      text-align: center;
      line-height: 40px;
    }

    .shareModal__copy {
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      background: url('../../assets/icon-copy.svg') no-repeat;
      background-size: 15px 16px;
      background-position: center center;
      right: 0;
      top: 0;
      text-indent: -9999px;
      opacity: .7;

      &:hover {
        opacity: .9;
      }
    }
  }
}
